h1
{
    text-align:center;
}

.flex-container 
{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
 }

.flex-container img 
{ 
    width: 30%;
    height: auto;
    padding:2px;
}

@media ( max-width: 50em ) 
{
  #image-container img 
  { 
    width: 50%;
  }
}

@media ( max-width: 25em ) 
{
  #image-container img 
  { 
    width: 100%;
  }
}
